$desktop: 1200px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 480px;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  background: #171836;
  font-family: "Gotham Pro";
  overflow-x: hidden;
}
.container {
  max-width: 1250px;
  padding: 0 90px;
  margin: 0 auto;
}
.full-body-image {
  position: relative;
  background: url("../img/bg.png");
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 425px) {
  .container {
    max-width: 1250px;
    padding: 0 35px;
    margin: 0 auto;
  }
}

.mobile-menu {
  transition: all 3s ease;
  z-index: -10;
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transform: translateY(-400px);
    transition: all 0.5s ease;
  }
  &__item {
    text-decoration: none;
    margin-top: 20px;
    font-size: 25px;
    color: #fff;
  }
  &__close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 50px;
    color: #fff;
  }
}

.mobile-flex {
  display: none;
}
@media screen and (max-width: 768px) {
  .mobile-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    background: linear-gradient(180deg, #111138 0%, #03032b 100%);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.53);
  }
  .mobile-flex a {
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }

  h1 a {
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }

  .popover {
    display: none;
    box-shadow: 0px 6px 8px rgba(19, 19, 19, 0.7);
  }

  .popover:target {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .popover .content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 0;
    height: 0;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    animation: 1s grow ease forwards;
    text-align: center;
    z-index: 99999;
  }

  .nav_list {
    list-style-type: none;
  }

  .nav_list a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
  }

  .nav_list_item {
    height: 100%;
    overflow: hidden;
  }

  .nav_list li {
    padding: 15px 0;
    text-transform: uppercase;
    transform: translateY(200px);
    opacity: 0;
    animation: 2s slideUp ease forwards 0.5s;
    position: relative;
  }

  .nav_list li::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 0px;
    bottom: 10px;
    background: #bf2e97;
    transition: all 0.5s ease;
  }

  .nav_list li:hover:before {
    width: 100%;
  }

  .popover p {
    padding: 50px;
    opacity: 0;
    animation: 1s fadeIn ease forwards 1s;
  }

  .popover .close::after {
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    position: absolute;
    display: flex;
    z-index: 1;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    color: #fff;
    content: "×";
    cursor: pointer;
    opacity: 0;
    animation: 1s fadeIn ease forwards 0.5s;
  }

  @keyframes grow {
    100% {
      height: 100vh;
      width: 100%;
    }
  }

  @keyframes fadeIn {
    100% {
      opacity: 1;
    }
  }

  @keyframes slideUp {
    100% {
      transform: translateY(1);
      opacity: 1;
    }
  }
}
