.nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  &__list {
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 70px;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    background: linear-gradient(90deg, #111138 0%, #03032b 100%), #19191e;
  }
  &__item {
    transform: rotate(270deg);
    height: 69px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    position: relative;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    transition: 1s ease;
    &:hover {
      color: #b1acac;
    }
    &.active {
      &::after {
        position: absolute;
        content: "";
        width: 115px;
        height: 3px;
        bottom: 0;
        background-size: cover;
        border-bottom: 3px solid;
        background: linear-gradient(
          #813367 100%,
          #b96ca1 100%,
          #67859c 100%,
          #6e849d 100%,
          #6bc7df 100%
        );
      }
    }
  }
}
.nav-mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav_list_item {
    width: 100%;
    height: 100%;
    overflow: visible;
  }
  .nav-mobile {
    height: 100vh;
  }
  .nav_list a {
    text-decoration: none;
    font-size: 30px;
    color: #fff;
  }
  .nav-flex {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
  }
  .nav-mobile {
    display: block;
  }
  .nav {
    display: none;
  }
  .header-logo img {
    display: none;
  }
  .menu-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, #111138 0%, #03032b 100%);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.53);
    padding: 10px 30px;
    z-index: 5;
    font-size: 35px;
  }
  .menu-toggle-icon {
    color: #fff;
  }
  .mobile-menu {
    transition: all 3s ease;
    z-index: -10;
    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      transform: translateY(-400px);
      transition: all 0.5s ease;
    }
    &__item {
      text-decoration: none;
      margin-top: 20px;
      font-size: 25px;
      color: #fff;
    }
    &__close {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 50px;
      color: #fff;
    }
  }
}
@media screen and (max-width: 425px) {
  .mobile-flex img {
    width: 150px;
  }
  .mobile-flex a {
    font-size: 20px;
  }
  .header-call {
    padding-bottom: 50px;
  }
  .services-stripes {
    padding-top: 10px;
  }
  .services-stripes_first {
    width: 40px;
    height: auto;
  }
  .services-stripes_second {
    width: 80px;
  }
}
